* {
    margin: 0;
    padding: 0;
}

header {
    height: auto;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#headerContent {
    width: 75%;
    margin: auto;
}

#title {
    width: 100%;
    height: 115px;
    color: #fff;
    font-size: 80px;
    border-bottom: 2px solid #fff;
}

.nav {
    height: 70px;
    width: 94%;
    margin: auto;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    padding: 0;
    padding-top: 15px;
    border-radius: 0;
}

.top_active {
    color: rgb(255, 200, 50) !important;
    border-top: 2px solid rgb(255, 200, 50) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent;
    border-radius: 0;
}

#backToTop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 5px;
}

#backToTop:hover {
    cursor: pointer;
}